#pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  height: auto;
}

#pagination .buttons {
  border-style: outset;
  background-color: white;
  width: 40vw;
  display: flex;
  justify-content: center;
}

#pagination button {
  margin: 5px;
  width: 30px;
  height: 30px;
}

#pagination button:hover {
  cursor: pointer;
  color: orange;
  border: 1px solid orange;
}

#pagination button.active {
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  #pagination .buttons {
    width: 65vw;
  }
  #pagination button {
    width: 25px;
    height: 25px;
  }
}
