#images {
  margin: 30px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  height: 50vh;
  width: 90vw;
}

.images-con {
  overflow: hidden;
  position: relative;
  margin: 5px;
  border-style: outset;
}

.left {
  grid-row: 1 / 3;
}

.images-con img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  #images {
    height: 25vh;
  }
  .images-con img {
    width: auto;
    height: 100%;
  }
}
