#cardorder {
  display: flex;
  width: 75vw;
  height: 20vh;
  margin: 30px 0 30px 0;
}

.cardorder-con {
  display: flex;
  justify-content: space-between;
  border: outset;
  align-items: center;
  width: 75vw;
  height: 20vh;
}

.cardorder-con .image img {
  object-fit: contain;
  width: 20vw;
  height: 20vh;
}
.cardorder-con .name {
  margin-top: 10%;
  width: 30vw;
  height: 100%;
}

.cardorder-con .desc {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
  height: 20vh;
}

@media screen and (max-width: 800px) {
  #cardorder {
    width: 90vw;
    height: 15vh;
  }
  .cardorder-con {
    width: 90vw;
    height: 15vh;
  }
  .cardorder-con .image img {
    width: 30vw;
    height: 15vh;
  }
  .cardorder-con .desc {
    display: grid;
    text-align: center;
    width: 30vw;
    height: 15vh;
    overflow: hidden;
    border-left: none;
    font-size: 10px;
    margin-top: 10px;
  }
  .cardorder-con .name {
    overflow: hidden;
    margin-top: 15px;
    width: 30vw;
    height: 100%;
    font-size: 11px;
  }
}
