#buttons {
  display: flex;
  width: 10vw;
  place-self: center;
  margin: 15px;
}

#buttons button {
  /* width: 5vw; */
  width: auto;
  height: auto;
  font-size: 18px;
  background-color: #ffd700;
}

#buttons button:hover {
  cursor: pointer;
}

#buttons input {
  width: 5vw;
  text-align: center;
}

@media screen and (max-width: 800px) {
  #buttons {
    width: 30vw;
    height: 5vh;
  }
  #buttons button {
    font-size: 10px;
    /* width: 7.5vw;
    height: 5vh; */
  }
  #buttons input {
    width: 15vw;
    height: 5vh;
  }
}
