#home {
  display: grid;
  justify-content: center;
  background-color: #fefefa;
}

#home .homecon {
  margin: 0 0 30px 0;
  height: auto;
  width: 90vw;
}

.homecon .design {
  border: 1px solid gray;
  height: 30vh;
  width: 90vw;
}

/* .homecon .top {
  background-color: #afe1af;
}

.homecon .mid {
  background-color: #ccccff;
}

.homecon .bot {
  background-color: #fa8072;
} */

@media screen and (max-width: 800px) {
  .homecon .design {
    height: 15vh;
    width: 90vw;
  }
}
