#cardproduct {
  width: 12vw;
  height: 35vh;
  background-color: white;
  border-style: outset;
}

#cardproduct:hover {
  cursor: pointer;
}

.cardproduct-image {
  height: 20vh;
}

.cardproduct-image img {
  width: 12vw;
  height: 20vh;
}

#cardproduct .cardproduct-title {
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  height: 15%;
}

.cardproduct-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardproduct-con p {
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  #cardproduct {
    width: 25vw;
    height: 30vh;
  }
  .cardproduct-image {
    height: 15vh;
  }
  .cardproduct-image img {
    width: 25vw;
    height: 15vh;
  }
  #cardproduct .cardproduct-title {
    font-size: 10px;
  }
  .cardproduct-con {
    display: grid;
    text-align: center;
    height: 5vh;
  }
  .cardproduct-con p {
    font-size: 9px;
    margin: 5px 0 0 0;
  }
}
