#signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  background-color: #fefefa;
}

#signup img {
  width: 40vw;
  height: 60vh;
  margin: 70px 0 70px 0;
}

.signup-con {
  padding: 30px;
  width: 25vw;
  border-style: outset;
  background-color: white;
}

.signup-con input {
  margin: 15px 5px;
  padding: 8px;
  width: 100%;
  border: 1px solid gray;
}

.signup-con .input-border {
  border: 1px solid red;
}

.signup-con .message-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.signup-con .message {
  font-size: 12px;
  color: red;
  position: absolute;
}

.signup-con button {
  margin: 15px 5px;
  padding: 8px;
  width: 100%;
}

.signup-con button:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #signup {
    height: 70vh;
  }
  .signup-img {
    display: none;
  }

  .signup-con {
    padding: 20px;
    width: 80vw;
  }

  .signup-con input {
    width: 100%;
    font-size: 8px;
  }

  .signup-con button {
    width: 100%;
    font-size: 8px;
  }
  .signup-con .message {
    font-size: 8px;
  }
}
