#footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  background-color: #ffd700;
}

.footer-con {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-con p {
  font-size: 14px;
  font-weight: bold;
}

.footer-con a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  color: white;
}

@media screen and (max-width: 800px) {
  .footer-con p {
    font-size: 10px;
    font-weight: bold;
  }

  .footer-con a {
    font-size: 8px;
  }
}
