#footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
  background-color: #fff8dc;
}

.footer-con p {
  font-size: 14px;
  font-weight: bold;
}

.footer-con a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  color: black;
}

@media screen and (max-width: 800px) {
  #footer {
    height: 25vh;
  }

  .footer-con p {
    font-size: 10px;
    font-weight: bold;
  }

  .footer-con a {
    font-size: 8px;
  }
}
