#orders {
  display: grid;
  justify-content: center;
  padding: 30px;
  background-color: #fefefa;
}

#orders .username {
  font-size: 24px;
  text-align: center;
}

#orders img {
  width: 40vw;
  height: 50vh;
}

#orders .message1 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#orders .message2 {
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  /* #orders {
    align-items: center;
    height: 70vh;
  } */
  #orders .username {
    font-size: 18px;
  }
  #orders img {
    width: 100vw;
    height: auto;
  }
  #orders .message1 {
    font-size: 12px;
  }

  #orders .message2 {
    font-size: 10px;
  }
}
